# CMake
/build/
/build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
x64/
Win32/
Debug/
Release/

# Release output
/dist/

# Binaries
*.exe
*.dll
*.obj
*.pdb
*.ilk
